name: Build Android Debug APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Unzip Project
        run: |
          unzip Android13AppFinal_ready.zip -d project
          ls -R project

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle (8.1.1)
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.1.1

      - name: Make gradlew executable
        working-directory: project
        run: chmod +x ./gradlew

      - name: Build Debug APK
        working-directory: project
        run: ./gradlew assembleDebug --stacktrace --warning-mode all

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MyApp
          path: project/app/build/outputs/apk/debug/*.apk
